header{
    display: flex;
    background-image: url(../assets/assets/img/Header.png);
    background-repeat:repeat-x;
    background-attachment: fixed;
    /*background-color: #FFF166;*/
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    position: fixed;
    width: 100%;
    top:0;
    margin: auto;   
}
@font-face {
    font-family: 'Inter';
    src: url('../assets/fonts/Inter-BlackItalic.otf') format('opentype');
}
body{
    margin: 0;
    font-family: 'Inter';
}
.Logo{
    display: flex;
    align-items: center;
}
.LogoImg{
    height: 80px;
    padding: 10px;
}
.Titulo{
    font-size: 35px;
    margin-right: 8%;
}
.SearchBar{
    background-color: #FDF9D5;
    margin: auto;
    font-size: 25px;
    width: 35%;
    height: 25px;
    border-radius: 5px;
    border:0px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
    transition: width 0.75s ease-in-out, height 0.75s ease-in-out;
}.SearchBar:hover{
    width: 36%;
    height: 28px;
}.perfil button{
    display: block;
    margin-right: 30px;
    background-color: transparent;
    border: 0px;
}
.FotoPerfil{
    width: 80px;
    height: 80px;
    border: 2px solid #80FF8C;
    border-radius: 50%;
    transition: width 0.5s ease-in-out, height 0.5s ease-in-out, border 0.5s ease-in-out;
}.FotoPerfil:hover{
    width: 85px;
    height: 85px;
    border: 3px solid #099617;
}
.MenuV{
    background-image: url(../assets/assets/img/buttons/HoverFondo.png);
    background-repeat: repeat;
    text-align: center;
    position: fixed;
    height: 100vh;
    right: 0;
    top: 119px;
    width: 12%;
}.MenuV button{
    background-color: transparent;
    margin: 15px;
    padding: 0px;
    border:0px;
    border-radius: 10px;
}
.MenuV button img{
    width: 100%;
    padding: 0px;
    transition: width 0.5s ease-in-out;
}.MenuV button img:hover{
    width: 90%;
}
.MenuV button .Llogout{
    margin-top: 100%;
}
.MenuStories{
    background-color: #FDF9D5;
    position: fixed;
    height: 100%;
    left: 0;
    top: 120px;
    width: 10%;
}
.StoriesContainer{
    text-align: center;
    margin: 10px;
}.StoriesContainer button{
    background-color: transparent;
    border: 0px;
    width: 100%;
    height: 0;
    padding-bottom: 100%;
    position:relative;
    overflow: hidden;
}
.FotoStory{
    position: absolute;
    top: 0;
    left: 0;
    width: 90%;
    height: 90%;
    max-width: 90%;
    object-fit: cover;
    object-position: center;
    border: 3px solid red;
    border-radius: 50%;
    transition: border 0.5s ease-in-out, width 0.5s ease-in-out, height 0.5s ease-in-out;
}.FotoStory:hover{
    border: 3px solid #80FF8C;
    width: 85%;
    height: 85%;
}
.Publication{
    background-color: #FDF9D5;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
    text-align: left;
    width: 60%;
    height: auto;
    margin-top: 17%;
    margin-bottom: -8%;
    margin-right: 20%;
    margin-left: 20%;
    border-radius: 10%;
    border: 5px solid #6A6A6A;
    /* @media (max-width:720px) {

        
    } */
}.Publication .Desc{
    font-size:1em ;
    margin-left: 6%;
}
.FotoPD{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: right;
    justify-content: center;
    padding: auto;
}
.FotoP{
    width:75%;
    height: auto;
    border-radius: 10%;
    padding-top: 2%;
}
.ButtonsMelos{
    width: 20%;
    align-items: center;
    justify-content: space-between;
    text-align: right;
    padding: 10px;
    background-color: transparent;

}.ButtonsMelos button{
    background-color: transparent;
    padding: 0px;
    width: 50%;
 
    border:0px;
}.ButtonsMelos button img{
    width: 100%;

    transition: width 0.5s ease-in-out, height 0.5s ease-in-out;
}.ButtonsMelos button img:hover{
    width: 90%;
}.Comentarios{
    overflow-y:auto;
    scrollbar-width: none;
    min-height: 0px;
    max-height: 400px;
}.Comentarios .texto{
    margin: 6%;
    background-color: #fcf394;
    border-radius: 5%;
    border: 2px solid rgb(129, 129, 129);
    padding: 1%;
}@font-face{
    font-family: InterMilan;
    src: url("../assets/fonts/Inter-BlackItalic.otf")
}
.CommentUser{
    background-color: #fcf394;
    font-size: 20px;
    font-family: InterMilan, sans-serif;
}.CommentUser:hover{
    background-color: #f7e955;
}
.Comentarios img {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 20px;
    height: 20px;
    border-radius: 50%;
}
.Publicar{
    text-align: center;
    align-items:center;
    margin: auto;
}.CPublicar{
    margin: 20%;
    margin-top: 15%;
    margin-bottom: -10%;
    padding: 30px;
    align-items: center;
    background-color:#FDF9D5;
    border: 2px solid #6A6A6A;
    border-radius: 20px;
}
.FileP{
  display: inline-block;
  background: linear-gradient(top, #f9f9f9, #e3e3e3);
  border: 1px solid #999;
  border-radius: 3px;
  padding: 5px 8px;
  outline: none;
  white-space: nowrap;
  cursor: pointer;
  text-shadow: 1px 1px #fff;
  font-weight: 700;
  font-size: 10pt;
  padding: 10px;
  margin: 10px;
}.BarP{
    padding: 5px;
    font-size: 15px;
    width: 250px;
    height: 20px;
    border-radius: 10px;
    background-color: #fff6aa;

    border:0px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
    transition: width 0.75s ease-in-out, height 0.75s ease-in-out;
}.BarP:hover{
    width: 255px;
    height: 25px;
}
.FotoPubli{
    width: 300px;
}.ContainerAgregadas{
    border-top: 2px solid #6A6A6A;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left:8% ;
    margin-right: 8%;
}.ContainerAgregadas .Foto{
    width: 100%;
    height: auto;
    background-color: #079c07;
}
.BtnPublicar{
    width: 200px;
    font-size: 30px;
    color: white;
    background-color: #3D8AFF;
    border:0px;
    border-radius: 15px;
    text-align: center;
    margin: 30px;
    padding: 20px;
    align-items: center;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
    transition: width 0.5s ease-in-out, font-size 0.5s ease-in-out;
}.BtnPublicar:hover{
    width: 215px;
    font-size: 35px;
}
.FotoAgregada{
    width: 60%;
    margin: 2%;

}.Login {
    background-image: url(../assets/assets/img/Fondito.png);
    background-repeat: no-repeat;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    padding-bottom: -5%;
}.Login2 {
    background-image: url(../assets/assets/img/Fondito.png);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25%;
    /* height: 100%; */
}
.Form{
    text-align: center;
    padding: 20px;
}.Form h1{
    font-size: 60px;
}.Form a{
    font-size: 20px;
}.Form input {
    margin: 10px;
    background-color: #FDF9D5;
    border: 0px;
    padding: 10px;
    width: 250px;
    font-size: 30px;
    border-radius: 20px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
    transition: font-size 0.75s ease-in-out, width 0.75s ease-in-out;
}.Form input:hover{
    font-size:35px;
    width: 255px;
}
.Form button {
    margin: 20px;
    font-size: 1.5vw;
    padding: 15px;
    background-color: #FDF9D5;
    border: solid 2px black;
    border-radius: 15px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
    transition: padding 0.5s ease-in-out, background-color 0.5s ease-in-out, border 0.5s ease-in-out, color 0.5s ease-in-out;
}.Form button:hover{
    padding: 18px;
    background-color: #FDF9D5;
    border: solid 3px #F6B95D;
    color:#F6B95D;
}.LB{
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    align-items: center;
    background-image: url(../assets/assets/img/Fondito.png);
    background-repeat: no-repeat;
}
.ButtonsSN{
    width: 8%;
    margin: 20px;
    font-size: 1.5vw;
    padding: 15px;
    background-color: #FDF9D5;
    border: solid 2px black;
    border-radius: 15px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
    transition: background-color 0.5s ease-in-out, border 0.5s ease-in-out, color 0.5s ease-in-out;

}.ButtonsSN:hover{
    background-color: #FDF9D5;
    border: solid 3px #F6B95D;
    color:#F6B95D;
}
.ButtonsSN img{
    width: 100%;
    border: 0px;
}
.Profile{
    margin-top: 10%;
    margin-right: 10%;
    margin-left: 5%;
    gap: 100px;
    display:flex;
    align-items: center;
    @media screen and (max-width: 1000px){
        display:flex;
        flex-direction: column;
        margin-top: 20%
    }
    /* @media (max-height: 800px){
        display:flex;
        flex-direction: column;
    } */
}
.Fotico{
    align-items: center;
    text-align: center;
    padding: 20px;
    margin-top: 0%;
    margin-bottom: 20px;
}.Fotico a{
    font-size: 30px;
}
.FoticoFoto{
    border-radius: 50%;
    width: 200px;
    height: 200px;
    border: 15px solid #FFF166;
}.InfoProfile{
    justify-content: center;
    text-align: left;
    align-items: center;
    padding: 15px;
    font-size: 25px;
}.BtnPerfil button{
    font-size: 20px;
    background-color: #e4e3e3;
    border: 0px;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
    transition: font-size 0.5s ease-in-out;
}.BtnPerfil button:hover{
    font-size: 22px;
}.More{
    margin-right: 12%;
    margin-left: 5%;
    text-align: center;
}.Profile2{
    margin-top: 10%;
    margin-right: 10%;
    margin-left: 10%;
    gap: 100px;
    display:flex;
    align-items: center;
    justify-content: center;
}.Profile2 .FileP{
    width: 90%;
}.Profile2 .FileP:hover{
    width: 91%;
}
.EdInfo{
    text-align: center;
}.EdInfo input{
    margin: 15px;
    border: 0px;
    background-color: #FDF9D5;
    width: 50%;
    font-size: 20px;
    border-radius: 8px;
    padding: 10px;
    height: 20px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
    transition: border 0.5s ease-in-out, width 0.5s ease-in-out, color 1s ease-in-out;
}.EdInfo input:hover{
    border: 2px solid #F6B95D;
    width: 55%;
}.EdInfo input:focus{
    border:0px;
    color:#f8aa34;
}
.EdInfo a{
    font-size: 20px;
}.EdBtn1 button{
    font-size: 35px;
    color: white;
    background-color: #FF3D3D;
    border: 0px;
    padding: 10px 50px 10px 50px;
    border-radius: 5px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
    transition: font-size 0.5s ease-in-out;
}.EdBtn1 button:hover{
    font-size: 38px;
}.EdBtn2 button{
    font-size: 35px;
    color: white;
    background-color: #3D8AFF;
    border: 0px;
    padding: 10px 50px 10px 50px;
    border-radius: 5px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
    transition: font-size 0.5s ease-in-out;
}.EdBtn2 button:hover{
    font-size: 38px;
}
.CradPerfil{
    margin-top: 120px;
    margin-left: 20%;
    padding: 3px;
    border: 1px solid #6A6A6A;
    background-color: #FFF166;
}.MenuChats{
    background-color: #FDF9D5;
    position: fixed;
    border-right: 1px solid #6A6A6A;
    height: 100%;
    left: 0;
    top: 120px;
    width: 20%;
}
.BtnChatsito{
    display: flex;
    justify-content: start;
    align-items: center;
    width: 100%;
    background-color: transparent;
    border: 0px;
    border-top: 1px solid #6A6A6A;
    padding: 5px;
    transition: padding 0.5s ease-in-out, background-color 0.5s ease-in-out;
}.BtnChatsito:hover{
    padding: 10px;
    background-color: #FFF166;
}
.BtnChatsito a{
    font-size: 30px;
    margin-left: 10%;
}
.BtnChatsito img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}.CardItem{
    display: flex;
    align-items: center;
}.CardItem img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 2px solid #80FF8C;
    margin-right: 2%;
    transition: width 0.5s ease-in-out, height 0.5s ease-in-out, border 0.5s ease-in-out;
}.CardItem img:hover{
    width: 55px;
    height: 55px;
    border: 3px solid #099617;
}.CardItem a{
    font-size: 25px;
}.SBChat{
    align-items: center;
    text-align: center;
    
}
.BarChat{
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    height: 30px;
    border: 0px;
    font-size: 20px;
    background-color: #f3eec5;
    border-radius: 10px;
    transition: height 0.5s ease-in-out, border 0.5s ease-in-out, background-color 0.5s ease-in-out, width 0.5s ease-in-out;
}.BarChat:hover{
    width: 41%;
    height: 35px;
    border: 2px solid #6A6A6A;
    background-color: #f7f0c1;

}
.UlMensajes{
    max-width: 800px;
    margin: 10px auto;
    list-style: none;
    position: flex; 
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 5px;
}.SendBtn{
    width: 100px;
    font-size: 12px;
    color: white;
    background-color: #079c07;
    border:0px;
    border-radius: 15px;
    text-align: center;
    margin-left: 5px;
    padding: 8px;
    align-items: center;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
    transition: width 0.5s ease-in-out, font-size 0.5s ease-in-out;
}.SendBtn:hover{
    width: 102px;
    font-size: 13px;
}
.ContenedorLogo img{
    width: 400px;
    height: 400px;
}.StoryTime{
    display: block;
    background-color: #FFF166;
    padding: 50px;
    justify-content: center;
    text-align: center;
    align-items: center;
}.ContainerStory{
    border: 0px;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: auto;
    background-color: black;
    width: 60%;
    border-radius: 10%;
    transition: width 1s ease-in-out;
    margin-bottom: 5%;
}.ContainerStory:hover{
    width: 70%;
}
.ContainerStory .FotoP{
    width: 100%;
}
.ContainerStory div {
    display: flex;
    justify-content: start;
    align-items: center;
    margin: auto;
    width: 90%;
}.ContainerStory div img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid #80FF8C;
    margin: 10px;
}.ContainerStory div h1{
    color: white;
}.ContainerStory div button{
    margin-left: auto;
    background-color: transparent;
    border: 0px;
    margin-right: 2%;
}.ContainerStory div button img{
    width: 100%;
    height: auto;
    border: 0px;
    transition: width 0.5s ease-in-out;
}.ContainerStory div button img:hover{
    width: 90%;
}.ContenedorCommentario{
    border: 0px solid;
    text-align: center;
    margin: 2%;
}.BarComment{
    background-color: #fcf394;
    border:0px solid;
    width: 70%;
    height: 25px;
    font-size: 18px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    transition: height 0.5s ease-in-out;
}.BarComment:hover{
    height: 28px;   
}.BarSend{
    width: 10%;
    height: 25px;
    margin-left: 2%;
    background-color: #44e744;
    border: 0px;
    border-radius: 5px;
    color: white;
    font-size: 15px;
    transition: height 0.75s ease-in-out, width 0.75s ease-in-out, font-size 0.75s ease-in-out;
}.BarSend:hover{
    height: 35px;
    width: 12%;
    font-size: 20px;
}.PInfo{
    font-size: 100%;
}